<% @couponlists.each do |coupon_list| %>
		<div class="section">
			<h3><%= link_to coupon_list["coupon_shop"], coupon_list["coupon_site_url"] %></h3>
			<div class="innerBorder">
				<div class="couponjpg">
					<%= image_tag(coupon_list["coupon_site_url"], )%>
				</div>
			</div>
		</div>
<% end %>
<%= paginate @couponlists %>

<%= link_to 'ユーザー登録', new_user_path, class: "btn btn-primary" %>

	
	